body{
    background-color:turquoise;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    width: 70px;
    height: 45px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
video {
    max-width: 100%;
    max-height: 100%;
}
#header{
    margin-left: 75px;
}
h1{
    font-weight: bold;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    color: antiquewhite;
    text-shadow: 5px 5px 5px grey;
    text-align: center;
}
img{
    align-items: center;
    width: 240px;
    margin-left: 150px;
}
#yes{
    animation-play-state: paused;
    background-color: rgb(0, 171, 34);
    color: aliceblue;
    margin-right: 100px;
    position:relative;
    display: block;
    margin-top: 20px;
}
#yes:hover{
    background-color: darkgreen;
}
#no{
    animation: moveAway 0.5s infinite;
    animation-play-state: paused;
    background-color: rgb(208, 28, 28);
    color: aliceblue;
    position: absolute;
    margin-top: 21px;
    margin-left: 0;
}
#no:hover{
    animation-play-state: running;
    /*background-color: darkred;*/
}
#buttons{
    display: flex;
}
@keyframes moveAway{
    from{margin-left: 0;}
    to{margin-left: calc(100% - 70px);}
}